<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DevextremeExamples</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>window.jQuery || document.write(decodeURIComponent('%3Cscript src="js/jquery.min.js"%3E%3C/script%3E'))</script>
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/21.2.5/css/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/21.2.5/css/dx.light.css" />
    <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/21.2.5/css/dx-diagram.min.css" />
    <script src="https://cdn3.devexpress.com/jslib/21.2.5/js/dx-diagram.min.js"></script>
    <script src="https://cdn3.devexpress.com/jslib/21.2.5/js/dx.all.js"></script>
    <style type="text/css">
        #data-grid-demo {
            min-height: 50px;
        }
    </style>
</head>
<body>

    @RenderBody()
    @RenderSection("PageScripts", false)
</body>
</html>
